body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100% ;
    background: #38a9c5;
    position: relative;
    

}
.item{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}
.item a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}
.item a :hover{
    color: rgb(23, 206, 219);
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }  
  .container{
    margin: auto;
    width: 70%;
    border: 3px solid rgb(20, 161, 154);
    padding: 10px;
    

}  
.bottom{
    margin: auto;
    width: 70%;
    border: 3px solid rgb(16, 146, 155);
    padding: 10px;

}
